<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li>(C)<a href="http://anumqudsia.com/">Anum Qudsia</a></li>
    </ul>
  </nav>
</footer>